*{
  margin: 0;
  padding: 0;
}

h1{

}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.infoWindow, header{
  /*
  font-size: 16px;
  font-weight: bold;
  */
}
#search-box{
  height: 5%;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

input{
  height: 100%;
  width: inherit;
}

#map-area{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#location-list{
  min-width: 100px;
  max-width: 20%;
  height: 95%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-flow: column;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.venue{
  width: 95%;
  padding: 1vh;
  overflow-y: visible;
  border-bottom: 1px dashed grey;

}
